<div class="row">

  <div class="col-9">
    <%= render 'form', discussion: @discussion %>
    <br>
    <% @discussions.each do |discussion| %>
        <div class="card mb-3 border">
          <div class="card-header">
            <%# binding.pry %>
              <%=link_to discussion.user.name, user_path(discussion.user.id) %>
          </div>
          <div class="card-body">
            <p class=" card-text lead">
              <% if  discussion.body.length > 300 %>
                  <%= truncate(discussion.body, length:300) %>
                  <%= link_to 'Continue reading', '', class: "read-more-#{discussion.id}" %>
                  <script>
                    $('.read-more-<%= discussion.id %>').on('click', function(e){
                        e.preventDefault()
                        $(this).parent().html('<%= escape_javascript discussion.body %>')
                    })
                  </script>

              <% else %>
                  <%= discussion.body %>
              <% end %>
            </p>
            <%#  %>
              <%= link_to 'Like', like_discussion_path(discussion), method: :post %>
            <%# else %>
                <%= link_to 'Like', like_discussion_path(discussion), method: :post %>
            <%# end %>
                |
            <%= link_to 'Comment', discussion %>
            <!--<a class="" data-toggle="collapse" href="#collapseExample-<%=  discussion.id %>" aria-expanded="false" aria-controls="collapseExample">-->
              <!--Comment-->
            <!--</a>-->


            <% if discussion.user == current_user %>
                  | <%= link_to 'Edit', edit_discussion_path(discussion) %>
                  | <%= link_to 'Delete', discussion, method: :delete, data: {confirm: 'Delete Post???'} %>
              <% end %>

            <span class="float-right text-muted">
              <%= pluralize discussion.likes.count, 'Like' %> | 23 Comments
            </span>
            <br>
            <hr>

            <div class="collapse" id="collapseExample-<%=  discussion.id %>">
              <div class="card card-body border-0">
                <h3>Comments</h3>

                <%#= form_for [ discussion, Comment.new ] do |f| %>
                    <!--<div class="form-group">-->
                      <%#= f.text_area :body, placeholder: "Add a comment", class: 'form-control' %><br/>
                      <%#= f.submit "Add Comment", class: 'btn btn-primary text-center' %>
                    <!--</div>-->

                <%# end %>

                <ul>
                  <%#= render(partial: 'comments/comment', collection: discussion.comments) %>
                </ul>
              </div>
            </div>
          </div>


            <br>

        </div>
  <% end %>
  </div>




  <div class="col-3">
    <h3> Latest Career Posts</h3>
    <br>
    <p class="lead">
      Mauris tristique felis sit amet sapien lobortis, sed ullamcorper urna laoreet. Sed eleifend nisi eget mi vestibulum, ut pretium ante maximus. Nullam vulputate at turpis eget pulvinar. Nunc a mauris eget ante rutrum tincidunt quis sit amet est.
    </p>
  </div>

</div>




