<div class="row">
  <div class="comments col-md-9" id="comments">
    <h3 class="mb-2">Comments</h3>
    <div class="comment mb-2 row">
    <% comments.each do |comment| %>

        <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
          <a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m103.jpg" alt="avatar"></a>
        </div>
        <div class="comment-content col-md-11 col-sm-10">
          <h6 class="small comment-meta">
            <%= link_to comment.user.name, user_path(comment.user.name) %>
             <%= time_ago_in_words comment.created_at %> ago
          </h6>
          <div class="comment-body">
            <p>
              <%= comment.body %>
              <br>
              <a class="text-right small" data-toggle="collapse" href="#collapseExample-<%= comment.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="ion-reply"></i> Reply</a>
            </p>
          </div>
        </div>


        <div class="collapse" id="collapseExample-<%= comment.id %>">
          <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
            <div class="row">
                <%= form_for @new_comment do |f| %>
                  <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
                  <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
                  <%= f.hidden_field :comment_id, value: comment.id %>
                  <div class="field form-group col-md-9">
                      <%= f.text_area :body, class: 'form-control', placeholder: 'Reply comment...', rows: '4' %>
                  </div>

                  <div class="col-12 form-group">
                    <%= submit_tag 'Reply', class: 'btn btn-sm btn-primary' %>
                  </div>

                <% end %>
            </div>
          </div>
        </div>



          <%= render partial: 'comments/replies', locals: {comments: comment.children} %>

    <% end %>
    </div>
  </div>
</div>



<!--<div class="row">-->
  <!--<div class="comments col-md-9" id="comments">-->
    <!--<h3 class="mb-2">Comments</h3>-->
    <!-- comment -->
    <!--<div class="comment mb-2 row">-->
      <!--<div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">-->
        <!--<a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m103.jpg" alt="avatar"></a>-->
      <!--</div>-->
      <!--<div class="comment-content col-md-11 col-sm-10">-->
        <!--<h6 class="small comment-meta"><a href="#">admin</a> Today, 2:38</h6>-->
        <!--<div class="comment-body">-->
          <!--<p>-->
            <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <a href>http://wwwwww.com</a> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.-->
            <!--<br>-->
            <!--<a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->

      <!-- reply is indented -->
      <!--<div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">-->
        <!--<div class="row">-->
          <!--<div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">-->
            <!--<a href=""><img class="mx-auto rounded-circle img-fluid" src="http://demos.themes.guide/bodeo/assets/images/users/m101.jpg" alt="avatar"></a>-->
          <!--</div>-->
          <!--<div class="comment-content col-md-11 col-sm-10 col-12">-->
            <!--<h6 class="small comment-meta"><a href="#">phildownney</a> Today, 12:31</h6>-->
            <!--<div class="comment-body">-->
              <!--<p>Really?? Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.-->
                <!--<br>-->
                <!--<a href="" class="text-right small"><i class="ion-reply"></i> Reply</a>-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!-- /reply is indented -->
    <!--</div>-->
    <!-- /comment -->
    <!--<div class="row pt-2">-->
      <!--<div class="col-12">-->
        <!--<a href="" class="btn btn-sm btn-primary">Comment</a>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->



