<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      GradNet
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-expanded="false" aria-controls="navCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="exCollapsingNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Home', discussions_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Careers', jobs_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Notifications', '#', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Profile', current_user, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>


      </ul>
    </div>

  </div>
</nav>
